<div>
  <div class="header">
    <ion-avatar>
      <img alt="Silhouette of a person's head" src="https://cloudflare-ipfs.com/ipfs/Qmd3W5DuhgHirLHGVixi6V76LhCkZUz6pnFt5AJBiyvHye/avatar/168.jpg" />
    </ion-avatar>
    <span>Kameron.Gleason12</span>
  </div>
  <div class="media">
    <img src="https://picsum.photos/400" alt="">
  </div>
  <div class="feedback-controls">
    <ion-icon name="heart-outline"></ion-icon>
    <ion-icon name="chatbubble-outline"></ion-icon>
    <ion-icon name="send-outline"></ion-icon>
    <ion-icon class="bookmark" name="bookmark-outline"></ion-icon>
  </div>
</div>
